doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		include utils/fonts
		title Main Page
	body
		include components/header

		h2.title Title
		p.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam omnis molestias, ipsa tempora doloremque, tenetur expedita adipisci repellat harum itaque et quaerat repudiandae, dolores cum vitae. Possimus, quod nisi aperiam nemo delectus ea eligendi, asperiores adipisci sunt, aliquid aliquam dolorum saepe reiciendis! Enim ad quisquam ea ipsam dolore est! Temporibus tenetur est rerum at molestias aliquid voluptatibus id perferendis? Quidem sint quaerat, deserunt est, eos dolores, debitis maxime totam similique ducimus architecto? Alias atque perferendis qui et vero cum iste reprehenderit. Ut at, fuga libero asperiores quasi molestias repellendus temporibus quisquam ullam sint! Repudiandae aperiam placeat eius impedit repellendus?
		
		include components/footer
		script(src='js/app.min.js')
